

*, *:before, *:after {
    box-sizing: border-box;
  }
  
  .wrapper {
    /* max-width: 940px; */
    margin: 0 20px;
    display: grid;
    grid-gap: 10px;
  }
  
  @media screen and (min-width: 500px) {
  
    /* no grid support? */
    .side {
      float: left;
      width: 19.1489%;
    }
  
    .content {
      float: right;
      width: 79.7872%;
    }
  
    .wrapper {
      margin: 0 auto;
      grid-template-columns: 3fr 1fr;
    }
    
    .header, .footer {
      grid-column: 1 / -1;
      /* needed for the floated layout */
      clear: both;
    }
  
  }
  
  .wrapper > * {
    background-color: rgb(184, 238, 226);
    color: rgb(3, 3, 3);
    border-radius: 5px;
    padding: 10px;
    font-size: 100%;
    /* needed for the floated layout*/
    margin-bottom: 10px;
  }
  
  /* We need to set the widths used on floated items back to auto, and remove the bottom margin as when we have grid we have gaps. */
  @supports (display: grid) {
    .wrapper > * {
      width: auto;
      margin: 0;
    }
  }
  
  